name: Linters
on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt -r requirements.txt
      - name: Analysing the code with isort
        run: isort src/*.py test/*.py --check
      - name: Analysing the code with black
        run: black src/*.py test/*.py --check
      - name: Analysing the code with pylint
        run: pylint src/*.py test/*.py
